 p {
     color: rgba(46, 47, 66, 1);
 }

 h1 {
     color: rgba(46, 47, 66, 1);
 }

 button {
    background-color:rgba(231, 233, 252, 1)
    color: rgba(77, 90, 229, 1);
    }

        .page-footer {
            background-color: rgba(46, 47, 66, 1);
        }

.address {
    color: rgba(67, 68, 85, 1)
}
                